.container__quotes {
  /* background-color: mediumpurple; */
  display: flex;
  justify-content: center;
}

.quotes {
  /* width: 5rem; */
  /* width: 100%; */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: justify;
  /* background-color: midnightblue; */
}

.quote__item {
  background-color: rgb(134, 142, 226);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 18rem;
  /* gap: 1rem; */
  border-radius: 0.25rem;

  margin: 0.5rem;
  padding: 2rem 1.5rem;
  color: white;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.quote__item:hover {
  background-color: rgb(145, 153, 241);
  transform: scale(1.02);
  box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.35);
}

.quote__item q {
  /* flex-direction: column; */
  display: flex;
  /* flex-wrap: wrap; */
  align-items: end;
  text-align: right;
  /* background-color: mediumseagreen; */
  border-bottom: 1px solid rgb(165, 170, 246);
  /* text-decoration: underline; */
  font-weight: 700;
  margin-top: 1rem;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .quote__item {
    /* background-color: paleturquoise; */
    width: 22rem;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .quote__item {
    /* background-color: palegoldenrod; */
    width: 28rem;
  }
}
